
<div class="row">
	<div class="span8 offset2">
		<div id="videoWrapper">
			<%= youtube_hidden_embed_html(@youtube_id, @start_time, @end_time) %>
		</div>
		<h2 class='video-name small'><%= @name %></h2>
		
	</div>
</div>
