// $iconSpritePath: asset-url('glyphicons-halflings.png', image);
// $iconWhiteSpritePath: asset-url('glyphicons-halflings-white.png', image);

@import "bootstrap";


@import "bootstrap/mixins";


body { padding-top: 40px; }

.logo {
  text-align: center;
}

.logo {
  // padding: 0;
  // margin: 0;
  font-style: italic;
}


.content {
}

// @import "bootstrap-responsive";

.center {
 text-align: center;
}

#controls {
  padding: 20px 0;
}

/* Forms */
form {
  @include center-block;
  padding-top: 20px;
  padding-bottom: 20px;
  // text-align: center;
  #video_name {
    text-align: center;
  }

}

/*** Slider Style ***/

/*the slider background*/
#slider {
  // width:230px;
  height:11px;
  // background:url(http://papermashup.com/demos/jquery-slider-bar/slider-bg.png);
  position:relative;
  margin:0;
  padding:0 10px;
  // border: 0;
}


.ui-slider-horizontal .current {
  width:24px;
  height:24px;
  position:absolute;
  top:-7px;
  margin-left:-12px;
  z-index: 200;
  background-color:transparent;
  background-image: url('http://papermashup.com/demos/jquery-slider-bar/slider-button.png');
  background-repeat: no-repeat;
  border: 0;
}

.ui-slider-horizontal .start {
  position:absolute;
  top:10px;
  margin-left:-10.0px;
  background-color:transparent;
  background-image: url('http://i.imgur.com/M0JG0v3.png');
  background-repeat: no-repeat;
  border: 0;
  z-index: 200;
}

.ui-slider-horizontal .end {
  position:absolute;
  top:10px;
  margin-left:-10.0px;
  background-color:transparent;
  background-image: url('http://i.imgur.com/M0JG0v3.png');
  background-repeat: no-repeat;
  border: 0;
  z-index: 200;
}


// .ui-slider-horizontal .start {
//   position:absolute;
//   top:10px;
//   margin-left:-10.0px;
//   background-color:transparent;
//   background-image: url('http://i.imgur.com/M0JG0v3.png');
//   background-repeat: no-repeat;
//   border: 0;
//   z-index: 200;
// }

// .ui-slider-horizontal .end {
//   position:absolute;
//   top:10px;
//   margin-left:-10.0px;
//   background-color:transparent;
//   background-image: url('http://i.imgur.com/M0JG0v3.png');
//   background-repeat: no-repeat;
//   border: 0;
//   z-index: 200;
// }



/* Video List */

.videos {
  list-style: none;

  li {
    // display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.video-name{
  text-align: center;
}

.pagination{

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.videos{
  margin: 0;
}

