
@import "bootstrap";
@import "bootstrap/mixins";


body { padding-top: 40px; }

.content {
}

// @import "bootstrap-responsive";

.center {
  text-align: center;
}

.loud {
  color: red;
  font-weight: bold;
}

.controls {
  text-align: center;
  .play-clip {
    margin-top: 10px;
  }
}

/* Forms */
form {
  @include center-block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  #video_name {
    text-align: center;
  }

}

/* Video List */

.videos {
  list-style: none;

  li {
    // display: block;
    margin: 0 auto;
    text-align: center;
  }
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.ytplayer-wrapper {
  margin: 0 auto;
  text-align: center;
}

