<footer class="footer">
  <small>
    <%= link_to "Roller", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= mail_to 'contactroller@gmail.com', "Contact"%></li>
    </ul>
  </nav>
</footer>