<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Videos", videos_path %></li>
		<li><%= link_to "Help",    '#' %></li>
	</ul>
	<h3 class="muted">Roller</h3>
</div>
