<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <%= link_to "Roller", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Videos", videos_path %></li>
          <li><%= link_to "Help",    '#' %></li>
        </ul>
      </nav>
    </div>
</div>
