<div class="row">
	<div class="span4">
		<ul class="nav nav-pills ">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Videos", videos_path %></li>
			<li><%= link_to "Help",    '#' %></li>
		</ul>
	</div>
	<h1 class='logo span4'>Roller</h1>
</div>
